<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/static/jquery.min.js"></script>
</head>
<body>
<p>加油</p>
{#    {{ name }}#}
{#    <script>#}
{#        $.ajax({#}
{#            headers:{#}
{#                token:"token"#}
{#            },#}
{#            url: "http://127.0.0.1:5000/index2",#}
{#            type: "GET",#}
{#            success: function (data) {#}
{#                alert(data)#}
{#            }#}
{#        })#}
{#    </script>#}
</body>
</html>